*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.section-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}
.btn-primary{
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: #F15B22;;
    font-weight: 600;
}

/* header style  */
.header{
    background-image: url(../images/banner/banner1.png);
    height: 700px;
}
.header-section{

    text-align: right;
    padding: 130px;
    position: absolute;
    padding-left: 850px;
}
.header-title{
    margin-top: 24px;
    font-weight: 700;
    font-size: 60px;
    color: #151414;
}
.header-description{
    margin-bottom: 32px;
    color: #444343;
}
.header-button{
    background: #F15B22;
    border-radius: 5px;
    border: none;
    padding: 24px;
    font-size: 20px;
    color: #ffff;
}

/* failure style */
.my-failures{
    display: flex;
}
.my-failures img{
    margin-left: 150px;
    margin-top: 100px;
    width: 569px;
    height: 723.3px;
}
.failure-details{
    margin: 350px 300px 100px 80px;
    text-align: left;
}
.failure-description{
    color: #444343;
    margin-bottom: 15px;
}
.failure-point{
    color: #444343;
}
/* Practice mindfulness */
.mindfulness{
    display: flex;
    margin-top: 100px;
}
.mindfulness .mindfulness-items{
    padding: 100px;
    margin-top: 100px;
}
.mindfulness-description{
    color: #444343;
    margin-bottom: 15px;
}
.mindfulness img{
    margin-right: 150px;
    height: 723.3px;
    border-radius: 10px;

}

/* my plans style  */

.my-plan{
    text-align: center;
    margin-top: 130px;
}
.plans-item{
    display: flex;
    gap: 170px;
    margin: 100px;
}
.item-title{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
}
.item-description{
    font-weight: 500;
    font-size: 25px;
    color: #151414;
}

/* positive mindset styles  */
.positive-mindset{
    position: relative;
    background: url(../images/watch.png);
    background-repeat: no-repeat;
    height: 400px;
}
.positive-mindset img{
    position: absolute;
    opacity: .6;
}
.positive-item{
    margin: 60px;
    padding-top: 60px;

}
.mindset-title{
    position: relative;
    color: #ffff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

/* footer  */

.footer{
    margin-top: 80px;
    background: #151414;
    padding: 70px 50px;
}
.footer-container{
    display: flex;
}
.footer-future{
    width: 40%;

}
.footer-title{
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
}
.footer-description{
    color: #ffff;
    margin: 10px 0;
}
.footer-email{
    color: #ffff;
    margin-bottom: 10px;
}
.footer-phone{
    color: #ffff;
    margin-bottom: 10px;
}
.footer-icon{
    display: flex;
    gap: 18px;
    margin-top: 30px;
}
.footer-subscribe{
    padding-left: 240px;
}
.footer-subscribe-title{
    display: block;
    text-align: left;
    color: #FFFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-email-input{
    font-size: 16px;
    width: 300px;
    background: #151414;
    border: 2px solid #FFFF;
    padding: 16px;
    border-radius: 5px;
    color: #FFF;
}
.footer button{
    display: block;
    margin-top: 24px;
}